name: 'build-test'
on:
  push:
    branches:
      - main
      - develop
    tags:
       - '*'
  pull_request:
    

jobs:
  build: 
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["10", "12", "14"]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install

      - name: Check format and lint
        run: yarn run format-check && yarn run lint

      - name: Run tests
        run: yarn test

      - name: Build and package
        run: yarn run build


      - name: Get the version
        if: ${{ startsWith(github.ref, 'refs/tags/') && matrix.node-version == 14 }}
        id: get_version
        run: echo ::set-output name=version::${GITHUB_REF/refs\/tags\//}        
  
      - name: Publish
        if: ${{ startsWith(github.ref, 'refs/tags/') && matrix.node-version == 14 }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          VERSION: ${{ steps.get_version.outputs.version }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
          yarn publish --new-version ${VERSION}
