name: 'build-test'
on:
  push:
    branches:
      - main
      - develop
    tags:
       - '*'
  pull_request:
      types: [opened, synchronize, reopened]

jobs:
  build: 
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["10", "12", "14"]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get info
        id: info
        run: |
          echo ::set-output name=version::${GITHUB_REF/refs\/tags\//}        
          echo ::set-output name=repo_name::$(echo $GITHUB_REPOSITORY| cut -d / -f 2)
          echo ::set-output name=repo_owner::$(echo $GITHUB_REPOSITORY| cut -d / -f 1)
          
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install

      - name: Check format and lint
        run: yarn run format-check && yarn run lint

      - name: Run tests
        run: yarn test

      - name: Build and package
        run: yarn run build

      - name: SonarCloud Scan
        if: matrix.node-version == 14 
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=${{ steps.info.outputs.repo_owner }}
            -Dsonar.projectKey=${{ steps.info.outputs.repo_name }}


      - name: Publish
        if: ${{ startsWith(github.ref, 'refs/tags/') && matrix.node-version == 14 }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          VERSION: ${{ steps.info.outputs.version }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
          yarn version --new-version ${VERSION} --no-git-tag-version
          yarn publish --access public
