name: 'Release'
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  release: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b56e6a3d768b11aef1d4c73977caf6413c0d74c8 # v3.2.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: 20
          always-auth: true 
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: yarn 

      - name: Run checks
        run: yarn run test && yarn lint && yarn build

      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: action-docs
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false},{"type":"build","section":"Miscellaneous","hidden":true}]'
          last-release-sha: 71c5c39213ac3d20d98797dd47ad7674d01ff0a4

      - name: Publish to NPM
        run: yarn publish
        if: ${{ steps.release.outputs.release_created }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
